<%= render 'form' %>
<aside class="right-side">
  <div class="row">
    <div class="col-xs-12">
        <%= link_to '显示', @app_list %> |
        <%= link_to '返回', app_lists_path %>
    </div>
  </div>
</aside>